In [12]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
#from sklearn.model_selection import train_test_split
#from sklearn.linear_model import LogisticRegression
from sklearn.metrics import make_scorer,f1_score, accuracy_score, precision_score
from sklearn.model_selection import GridSearchCV

In [22]:
dfTickets = pd.read_csv('all_tickets.csv')
dfTickets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48549 entries, 0 to 48548
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             47837 non-null  object
 1   body              48549 non-null  object
 2   ticket_type       48549 non-null  int64
 3   category          48549 non-null  int64
 4   sub_category1     48549 non-null  int64
 5   sub_category2     48549 non-null  int64
 6   business_service  48549 non-null  int64
 7   urgency           48549 non-null  int64
 8   impact            48549 non-null  int64
dtypes: int64(7), object(2)
memory usage: 3.3+ MB

In [23]:
dfTickets.head()

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact
0,NaN,hi since recruiter lead permission approve req...,1,4,2,21,71,3,4
1,connection with icon,icon dear please setup icon per icon engineers...,1,6,22,7,26,3,4
2,work experience user,work experience user hi work experience studen...,1,5,13,7,32,3,4
3,requesting for meeting,requesting meeting hi please help follow equip...,1,5,13,7,32,3,4
4,reset passwords for external accounts,re expire days hi ask help update passwords co...,1,4,2,76,4,3,4

In [24]:
dfTickets_small = dfTickets.iloc[0:10000]

In [25]:
dfTickets_small.head

<bound method NDFrame.head of                                       title  \
0                                       NaN
1                      connection with icon
2                      work experience user
3                    requesting for meeting
4     reset passwords for external accounts
...                                     ...
9995                            access card
9996                        card new joiner
9997                             and access
9998                             new switch
9999                merchant portal site on

                                                   body  ticket_type  \
0     hi since recruiter lead permission approve req...            1
1     icon dear please setup icon per icon engineers...            1
2     work experience user hi work experience studen...            1
3     requesting meeting hi please help follow equip...            1
4     re expire days hi ask help update passwords co...            1
...                                                 ...          ...
9995  card hello moved understanding she left her ca...            1
9996           card joiner functional fie functional si            1
9997                                        please user            1
9998  switch problem switch la ca si merge port mea ...            1
9999  merchant site dear please create merchant part...            1

      category  sub_category1  sub_category2  business_service  urgency  \
0            4              2             21                71        3
1            6             22              7                26        3
2            5             13              7                32        3
3            5             13              7                32        3
4            4              2             76                 4        3
...        ...            ...            ...               ...      ...
9995         5             13              7                73        3
9996         7              1              7                73        3
9997         4              1              7                19        3
9998         6             22              7                52        3
9999         4              2              7                46        3

      impact
0          4
1          4
2          4
3          4
4          4
...      ...
9995       4
9996       4
9997       4
9998       4
9999       4

[10000 rows x 9 columns]>

In [26]:
X = pd.Series(dfTickets_small['body'])

In [29]:
X.shape

(10000,)

In [30]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X_tf = cv.fit_transform(X)
X_tf.shape

(10000, 7312)

In [31]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer()
X_tfidf= tfidf_transformer.fit_transform(X_tf)
X_tfidf.shape

(10000, 7312)

In [32]:
#conda install -c conda-forge hdbscan

In [33]:
import hdbscan

In [34]:
clusterer = hdbscan.HDBSCAN(min_cluster_size=30)

In [35]:
clusterer.fit(X_tfidf)

HDBSCAN(min_cluster_size=30)

In [36]:
clusterer.labels_

array([-1, -1, -1, ..., -1, -1, -1])

In [37]:
dfTickets_cluster = dfTickets_small

In [38]:
dfTickets_cluster['clusterno'] = clusterer.labels_.tolist()

/Users/raji/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
dfTickets_cluster.head

<bound method NDFrame.head of                                       title  \
0                                       NaN
1                      connection with icon
2                      work experience user
3                    requesting for meeting
4     reset passwords for external accounts
...                                     ...
9995                            access card
9996                        card new joiner
9997                             and access
9998                             new switch
9999                merchant portal site on

                                                   body  ticket_type  \
0     hi since recruiter lead permission approve req...            1
1     icon dear please setup icon per icon engineers...            1
2     work experience user hi work experience studen...            1
3     requesting meeting hi please help follow equip...            1
4     re expire days hi ask help update passwords co...            1
...                                                 ...          ...
9995  card hello moved understanding she left her ca...            1
9996           card joiner functional fie functional si            1
9997                                        please user            1
9998  switch problem switch la ca si merge port mea ...            1
9999  merchant site dear please create merchant part...            1

      category  sub_category1  sub_category2  business_service  urgency  \
0            4              2             21                71        3
1            6             22              7                26        3
2            5             13              7                32        3
3            5             13              7                32        3
4            4              2             76                 4        3
...        ...            ...            ...               ...      ...
9995         5             13              7                73        3
9996         7              1              7                73        3
9997         4              1              7                19        3
9998         6             22              7                52        3
9999         4              2              7                46        3

      impact  clusterno
0          4         -1
1          4         -1
2          4         -1
3          4         -1
4          4         -1
...      ...        ...
9995       4         -1
9996       4         -1
9997       4         -1
9998       4         -1
9999       4         -1

[10000 rows x 10 columns]>

In [75]:
dfTickets_cluster.loc[dfTickets_cluster['clusterno']==3]

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact,clusterno
46,wants to access requesting it hardware equipment,wants requesting hardware equipment monitor ac...,1,4,1,7,46,3,4,3
240,wants to access glossary,wants glossary hi please give update thank acc...,1,4,1,7,46,3,4,3
254,day wants to access resources,wants resources presentation accept decline re...,1,4,1,7,46,3,4,3
381,wants to access testing,wants testing please thank accept decline requ...,1,4,1,7,46,3,4,3
396,firth wants to access testing discipline,wants testing discipline hi please accept decl...,1,4,1,7,46,3,4,3
...,...,...,...,...,...,...,...,...,...,...
9669,eke wants to access executed th dec,wants executed accept decline requests,1,4,1,7,46,3,4,3
9700,wants to access sales,wants write accept decline requests,1,4,3,7,46,3,4,3
9714,wants to access account documentation,wants documentation please add files accept de...,1,4,1,7,46,3,4,3
9791,wants to access resources,wants resources head please accept decline req...,1,4,2,7,46,3,4,3
9886,wants to access information security,wants information want classification policy d...,1,4,1,7,46,3,4,3

In [40]:
dfTickets_cluster.to_excel("output_hdbscan_30.xlsx")

In [41]:
#Lets try this with spherical kmeans clustering

In [78]:
!pip install coclust

Collecting coclust
  Downloading https://files.pythonhosted.org/packages/5d/44/ad5a69c7187c2b7bcf2c45596e9052811a3be52f4fcaa6709937c5146ee2/coclust-0.2.1.tar.gz
Requirement already satisfied: numpy in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from coclust) (1.17.2)
Requirement already satisfied: scipy in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from coclust) (1.6.3)
Requirement already satisfied: scikit-learn in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from coclust) (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from scikit-learn->coclust) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from scikit-learn->coclust) (0.17.0)
Building wheels for collected packages: coclust
  Building wheel for coclust (setup.py) ... done
  Created wheel for coclust: filename=coclust-0.2.1-cp37-none-any.whl size=29873 sha256=483e3fe483e602e92c468173687e666b24e8dc90868ab51ae46bf11dea4eb28a
  Stored in directory: /Users/raji/Library/Caches/pip/wheels/cd/d7/68/df601d0b5f8b934cf890dc626c2271df381fb0c3e910b0a34e
Successfully built coclust
Installing collected packages: coclust
Successfully installed coclust-0.2.1

In [42]:
import coclust.clustering

In [43]:
kmeans_cluster = coclust.clustering.SphericalKmeans(n_clusters=30)

In [83]:
kmeans_cluster.fit(X_tfidf)

 == New init ==
iteration: 0
1352.3554632143064
iteration: 1
2294.2346006097114
iteration: 2
2612.0733887169235
iteration: 3
2732.3495214039267
iteration: 4
2770.5257825959657
iteration: 5
2790.3609011475164
iteration: 6
2798.47536327204
iteration: 7
2805.364915747658
iteration: 8
2808.874929937371
iteration: 9
2810.9490407210096
iteration: 10
2812.378568552787
iteration: 11
2813.586249790181
iteration: 12
2814.6873326509954
iteration: 13
2815.5649704361676
iteration: 14
2816.258019189092
iteration: 15
2817.2564962228457
iteration: 16
2818.343915254059
iteration: 17
2819.0797986217754
iteration: 18
2819.454019148161
iteration: 19
2819.707344876487

In [65]:
#kmeans_cluster.labels_

In [87]:
dfTickets_cluster_kmeans = dfTickets_small

In [88]:
dfTickets_cluster_kmeans['clusterno'] = kmeans_cluster.labels_

/Users/raji/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [89]:
dfTickets_cluster_kmeans.head

<bound method NDFrame.head of                                       title  \
0                                       NaN
1                      connection with icon
2                      work experience user
3                    requesting for meeting
4     reset passwords for external accounts
...                                     ...
9995                            access card
9996                        card new joiner
9997                             and access
9998                             new switch
9999                merchant portal site on

                                                   body  ticket_type  \
0     hi since recruiter lead permission approve req...            1
1     icon dear please setup icon per icon engineers...            1
2     work experience user hi work experience studen...            1
3     requesting meeting hi please help follow equip...            1
4     re expire days hi ask help update passwords co...            1
...                                                 ...          ...
9995  card hello moved understanding she left her ca...            1
9996           card joiner functional fie functional si            1
9997                                        please user            1
9998  switch problem switch la ca si merge port mea ...            1
9999  merchant site dear please create merchant part...            1

      category  sub_category1  sub_category2  business_service  urgency  \
0            4              2             21                71        3
1            6             22              7                26        3
2            5             13              7                32        3
3            5             13              7                32        3
4            4              2             76                 4        3
...        ...            ...            ...               ...      ...
9995         5             13              7                73        3
9996         7              1              7                73        3
9997         4              1              7                19        3
9998         6             22              7                52        3
9999         4              2              7                46        3

      impact  clusterno
0          4          2
1          4          5
2          4          8
3          4         15
4          4         14
...      ...        ...
9995       4          0
9996       4         27
9997       4          8
9998       4         27
9999       4          8

[10000 rows x 10 columns]>

In [90]:
dfTickets_cluster_kmeans.loc[dfTickets_cluster_kmeans['clusterno']==3]

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact,clusterno
28,annual leave,re annual leave hello please help absence reco...,1,4,2,7,67,3,4,3
76,all staff outlook,hello please make cancel moved offices startin...,1,4,3,7,36,3,4,3
88,time sheets,sheets hi please entries thank,1,4,2,21,67,3,4,3
98,access to upload and modify documents on,upload modify hi give write accumulations orde...,1,4,1,7,46,3,4,3
123,close all the projects,annual leave codes has assigned hi please clos...,1,4,2,87,67,3,4,3
...,...,...,...,...,...,...,...,...,...,...
9925,annual leave request for th of,annual leave hi please submit annual leave tha...,1,4,2,105,67,3,4,3
9931,booking time off for today,booking off today hi problem booked today off ...,1,4,2,105,67,3,4,3
9937,time sheet annual leave,hello left please enter sheet him period he an...,1,4,2,21,67,3,4,3
9942,urgent re si de mea,urgent re si mea hi thank changing per log acc...,1,4,2,21,4,3,4,3
9994,oracle delegate,delegate good wonder while holiday delegate ap...,1,4,3,105,66,3,4,3

In [91]:
dfTickets_cluster_kmeans.to_excel("output_sphericalkmeans_30.xlsx")

In [18]:
!pip install sentence_transformers
from sentence_transformers import SentenceTransformer

Collecting sentence_transformers
  Downloading sentence-transformers-2.1.0.tar.gz (78 kB)
     |████████████████████████████████| 78 kB 1.3 MB/s eta 0:00:01
Requirement already satisfied: transformers<5.0.0,>=4.6.0 in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from sentence_transformers) (4.6.0)
Collecting tokenizers>=0.10.3
  Downloading tokenizers-0.10.3-cp37-cp37m-macosx_10_11_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 2.3 MB/s eta 0:00:01
Requirement already satisfied: tqdm in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from sentence_transformers) (4.60.0)
Requirement already satisfied: torch>=1.6.0 in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from sentence_transformers) (1.8.1)
Collecting torchvision
  Downloading torchvision-0.10.1-cp37-cp37m-macosx_10_9_x86_64.whl (14.3 MB)
     |████████████████████████████████| 14.3 MB 10.4 MB/s eta 0:00:01
Requirement already satisfied: numpy in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from sentence_transformers) (1.17.2)
Requirement already satisfied: scikit-learn in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from sentence_transformers) (0.24.2)
Requirement already satisfied: scipy in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from sentence_transformers) (1.6.3)
Requirement already satisfied: nltk in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from sentence_transformers) (3.6.2)
Collecting sentencepiece
  Downloading sentencepiece-0.1.96-cp37-cp37m-macosx_10_6_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 17.3 MB/s eta 0:00:01
Requirement already satisfied: huggingface-hub in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from sentence_transformers) (0.0.8)
Requirement already satisfied: typing-extensions in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from torch>=1.6.0->sentence_transformers) (3.10.0.0)
Requirement already satisfied: sacremoses in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from transformers<5.0.0,>=4.6.0->sentence_transformers) (0.0.45)
Requirement already satisfied: importlib-metadata in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from transformers<5.0.0,>=4.6.0->sentence_transformers) (0.23)
Requirement already satisfied: regex!=2019.12.17 in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from transformers<5.0.0,>=4.6.0->sentence_transformers) (2021.4.4)
Requirement already satisfied: packaging in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from transformers<5.0.0,>=4.6.0->sentence_transformers) (21.0)
Requirement already satisfied: filelock in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from transformers<5.0.0,>=4.6.0->sentence_transformers) (3.0.12)
Requirement already satisfied: requests in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from transformers<5.0.0,>=4.6.0->sentence_transformers) (2.25.1)
Requirement already satisfied: zipp>=0.5 in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->transformers<5.0.0,>=4.6.0->sentence_transformers) (0.6.0)
Requirement already satisfied: more-itertools in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from zipp>=0.5->importlib-metadata->transformers<5.0.0,>=4.6.0->sentence_transformers) (7.2.0)
Requirement already satisfied: joblib in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from nltk->sentence_transformers) (0.17.0)
Requirement already satisfied: click in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from nltk->sentence_transformers) (8.0.1)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from packaging->transformers<5.0.0,>=4.6.0->sentence_transformers) (2.4.2)
Requirement already satisfied: idna<3,>=2.5 in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence_transformers) (2.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence_transformers) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence_transformers) (2019.9.11)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence_transformers) (3.0.4)
Requirement already satisfied: six in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from sacremoses->transformers<5.0.0,>=4.6.0->sentence_transformers) (1.12.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from scikit-learn->sentence_transformers) (2.1.0)
Requirement already satisfied: pillow>=5.3.0 in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from torchvision->sentence_transformers) (6.2.0)
Collecting torch>=1.6.0
  Downloading torch-1.9.1-cp37-none-macosx_10_9_x86_64.whl (218.7 MB)
     |████████████████████████████████| 218.7 MB 54 kB/s s eta 0:00:01  |▏                               | 1.3 MB 7.0 MB/s eta 0:00:32     |▌                               | 3.2 MB 7.0 MB/s eta 0:00:31     |████                            | 27.7 MB 14.1 MB/s eta 0:00:14     |████▋                           | 31.4 MB 14.1 MB/s eta 0:00:14     |█████▍                          | 36.9 MB 16.5 MB/s eta 0:00:11     |███████▌                        | 51.0 MB 16.5 MB/s eta 0:00:11     |████████████████▏               | 110.7 MB 11.5 MB/s eta 0:00:10     |██████████████████▎             | 124.7 MB 16.5 MB/s eta 0:00:06��█▌            | 133.0 MB 16.5 MB/s eta 0:00:06     |███████████████████████▌        | 160.3 MB 18.8 MB/s eta 0:00:04     |████████████████████████████▊   | 196.0 MB 11.9 MB/s eta 0:00:02     |███████████████████████████████▋| 216.0 MB 11.9 MB/s eta 0:00:01
Building wheels for collected packages: sentence-transformers
  Building wheel for sentence-transformers (setup.py) ... done
  Created wheel for sentence-transformers: filename=sentence_transformers-2.1.0-py3-none-any.whl size=121000 sha256=9fb115158855f75aff5241de7c572a6d787d2a9c2409b18b4c10e157a74714c6
  Stored in directory: /Users/raji/Library/Caches/pip/wheels/90/f0/bb/ed1add84da70092ea526466eadc2bfb197c4bcb8d4fa5f7bad
Successfully built sentence-transformers
Installing collected packages: torch, tokenizers, torchvision, sentencepiece, sentence-transformers
  Attempting uninstall: torch
    Found existing installation: torch 1.8.1
    Uninstalling torch-1.8.1:
      Successfully uninstalled torch-1.8.1
  Attempting uninstall: tokenizers
    Found existing installation: tokenizers 0.10.2
    Uninstalling tokenizers-0.10.2:
      Successfully uninstalled tokenizers-0.10.2
Successfully installed sentence-transformers-2.1.0 sentencepiece-0.1.96 tokenizers-0.10.3 torch-1.9.1 torchvision-0.10.1

In [20]:
BERT_MODEL = ('paraphrase-MiniLM-L6-v2')
model = SentenceTransformer(BERT_MODEL)

Downloading:   0%|          | 0.00/690 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/3.69k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/629 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/122 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/229 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/90.9M [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/53.0 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/112 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/466k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/314 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/232k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/190 [00:00<?, ?B/s]

In [45]:
ticket_emb = model.encode(dfTickets_small['body'])

In [46]:
kmeans_cluster_emb = coclust.clustering.SphericalKmeans(n_clusters=30)

In [47]:
kmeans_cluster_emb.fit(ticket_emb)

 == New init ==
iteration: 0
5297.2296017433
iteration: 1
6100.981790010512
iteration: 2
6355.379304478043
iteration: 3
6445.5639347242195
iteration: 4
6485.047438089485
iteration: 5
6511.4382564665375
iteration: 6
6527.379314342709
iteration: 7
6540.712341671246
iteration: 8
6549.726884356716
iteration: 9
6556.1413596313405
iteration: 10
6560.06845936439
iteration: 11
6562.657799003751
iteration: 12
6565.010988893208
iteration: 13
6567.052818481476
iteration: 14
6569.664549924361
iteration: 15
6572.709004160613
iteration: 16
6575.442192390592
iteration: 17
6577.1876054827635
iteration: 18
6578.188582048448
iteration: 19
6578.903737606958

In [66]:
#kmeans_cluster_emb.labels_

In [49]:
dfTickets_cluster_emb_kmeans = dfTickets_small

In [54]:
dfTickets_cluster_emb_kmeans['clusterno'] = kmeans_cluster_emb.labels_

/Users/raji/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
dfTickets_cluster_emb_kmeans.loc[dfTickets_cluster_emb_kmeans['clusterno']==3]

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact,clusterno
29,change project manager role oracle,change role hello dear please change pm role s...,1,4,2,21,66,3,4,3
72,revise access to location,revise location hello please revise location u...,1,4,2,21,92,3,4,3
76,all staff outlook,hello please make cancel moved offices startin...,1,4,3,7,36,3,4,3
112,change job titles for and,change job titles dear please change job title...,1,4,2,21,4,3,4,3
118,carrier change request,carrier change dear please changing confirmed ...,1,4,2,21,67,3,4,3
...,...,...,...,...,...,...,...,...,...,...
9943,atlanta new employee laptop issue,atlanta issue hello requiring change allow als...,1,4,3,76,4,3,4,3
9946,people manager change for,change hi please change thank kind regards dis...,1,4,2,21,67,3,4,3
9948,replacement,replacement hello please replace assign her pe...,1,5,13,7,32,3,4,3
9963,career changing,changing hi view matrix chart his please regar...,1,4,2,21,67,3,4,3
9972,change client name oracle,re change client name hi please log assigned s...,1,4,2,21,66,3,4,3

In [56]:
dfTickets_cluster_emb_kmeans.to_excel("output_sphericalkmeans_emb_30.xlsx")

In [ ]:
#Trying with HDBScan with embedding

In [57]:
#import hdbscan

clusterer = hdbscan.HDBSCAN(min_cluster_size=30)

In [58]:
clusterer.fit(ticket_emb)

HDBSCAN(min_cluster_size=30)

In [59]:
clusterer.labels_

array([-1, -1, -1, ..., -1, -1, -1])

In [60]:
dfTickets_cluster_emb_hdbscan = dfTickets_small

In [61]:
dfTickets_cluster_emb_hdbscan['clusterno'] = clusterer.labels_.tolist()

/Users/raji/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [62]:
dfTickets_cluster_emb_hdbscan.head

<bound method NDFrame.head of                                       title  \
0                                       NaN
1                      connection with icon
2                      work experience user
3                    requesting for meeting
4     reset passwords for external accounts
...                                     ...
9995                            access card
9996                        card new joiner
9997                             and access
9998                             new switch
9999                merchant portal site on

                                                   body  ticket_type  \
0     hi since recruiter lead permission approve req...            1
1     icon dear please setup icon per icon engineers...            1
2     work experience user hi work experience studen...            1
3     requesting meeting hi please help follow equip...            1
4     re expire days hi ask help update passwords co...            1
...                                                 ...          ...
9995  card hello moved understanding she left her ca...            1
9996           card joiner functional fie functional si            1
9997                                        please user            1
9998  switch problem switch la ca si merge port mea ...            1
9999  merchant site dear please create merchant part...            1

      category  sub_category1  sub_category2  business_service  urgency  \
0            4              2             21                71        3
1            6             22              7                26        3
2            5             13              7                32        3
3            5             13              7                32        3
4            4              2             76                 4        3
...        ...            ...            ...               ...      ...
9995         5             13              7                73        3
9996         7              1              7                73        3
9997         4              1              7                19        3
9998         6             22              7                52        3
9999         4              2              7                46        3

      impact  clusterno
0          4         -1
1          4         -1
2          4         -1
3          4         -1
4          4         -1
...      ...        ...
9995       4         -1
9996       4         -1
9997       4         -1
9998       4         -1
9999       4         -1

[10000 rows x 10 columns]>

In [63]:
dfTickets_cluster_emb_hdbscan.loc[dfTickets_cluster_emb_hdbscan['clusterno']==3]

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact,clusterno
52,leaver service now,leaver form leave date location hello leaver f...,1,4,2,51,43,3,4,3
210,leaver service now belgrade,leaver form leave date location hello leaver f...,1,4,2,51,43,3,4,3
402,leaver centre,leaver form leave date location centre hello l...,1,5,1,51,32,3,4,3
434,leaver center,leaver form leave date location center hello l...,1,4,2,51,32,3,4,3
500,leaver form for leave date location snow,leaver form leave date location hello leaver f...,1,4,2,51,43,3,4,3
...,...,...,...,...,...,...,...,...,...,...
9629,leaver form for leave date location,leaver form leave date location hello leaver f...,1,4,2,51,56,3,4,3
9882,leaver service now tower,thursday leaver form leave date location tower...,1,4,2,51,56,3,4,3
9909,timecard for leaver,leaver form hello help card thank pm re leaver...,1,4,2,21,66,3,4,3
9916,leaver ad,leaver form leave date location hello leaver f...,1,4,1,51,4,3,4,3
9922,leaver,friday pm leaver form leave date location hell...,1,4,1,51,87,3,4,3

In [64]:
dfTickets_cluster_emb_hdbscan.to_excel("output_hdbscan_emb_30.xlsx")