In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
#from sklearn.model_selection import train_test_split
#from sklearn.linear_model import LogisticRegression
from sklearn.metrics import make_scorer,f1_score, accuracy_score, precision_score
from sklearn.model_selection import GridSearchCV

In [2]:
dfTickets = pd.read_csv('all_tickets.csv')
dfTickets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48549 entries, 0 to 48548
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             47837 non-null  object
 1   body              48549 non-null  object
 2   ticket_type       48549 non-null  int64
 3   category          48549 non-null  int64
 4   sub_category1     48549 non-null  int64
 5   sub_category2     48549 non-null  int64
 6   business_service  48549 non-null  int64
 7   urgency           48549 non-null  int64
 8   impact            48549 non-null  int64
dtypes: int64(7), object(2)
memory usage: 3.3+ MB

In [3]:
dfTickets.head()

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact
0,NaN,hi since recruiter lead permission approve req...,1,4,2,21,71,3,4
1,connection with icon,icon dear please setup icon per icon engineers...,1,6,22,7,26,3,4
2,work experience user,work experience user hi work experience studen...,1,5,13,7,32,3,4
3,requesting for meeting,requesting meeting hi please help follow equip...,1,5,13,7,32,3,4
4,reset passwords for external accounts,re expire days hi ask help update passwords co...,1,4,2,76,4,3,4

In [52]:
dfTickets_small = dfTickets.iloc[0:10000]

In [53]:
dfTickets_small.head

<bound method NDFrame.head of                                       title  \
0                                       NaN
1                      connection with icon
2                      work experience user
3                    requesting for meeting
4     reset passwords for external accounts
...                                     ...
9995                            access card
9996                        card new joiner
9997                             and access
9998                             new switch
9999                merchant portal site on

                                                   body  ticket_type  \
0     hi since recruiter lead permission approve req...            1
1     icon dear please setup icon per icon engineers...            1
2     work experience user hi work experience studen...            1
3     requesting meeting hi please help follow equip...            1
4     re expire days hi ask help update passwords co...            1
...                                                 ...          ...
9995  card hello moved understanding she left her ca...            1
9996           card joiner functional fie functional si            1
9997                                        please user            1
9998  switch problem switch la ca si merge port mea ...            1
9999  merchant site dear please create merchant part...            1

      category  sub_category1  sub_category2  business_service  urgency  \
0            4              2             21                71        3
1            6             22              7                26        3
2            5             13              7                32        3
3            5             13              7                32        3
4            4              2             76                 4        3
...        ...            ...            ...               ...      ...
9995         5             13              7                73        3
9996         7              1              7                73        3
9997         4              1              7                19        3
9998         6             22              7                52        3
9999         4              2              7                46        3

      impact
0          4
1          4
2          4
3          4
4          4
...      ...
9995       4
9996       4
9997       4
9998       4
9999       4

[10000 rows x 9 columns]>

In [54]:
X = pd.Series(dfTickets_small['body'])

In [55]:
print(type(X))

<class 'pandas.core.series.Series'>

In [56]:
X.head()

0    hi since recruiter lead permission approve req...
1    icon dear please setup icon per icon engineers...
2    work experience user hi work experience studen...
3    requesting meeting hi please help follow equip...
4    re expire days hi ask help update passwords co...
Name: body, dtype: object

In [57]:
X.shape

(10000,)

In [58]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X_tf = cv.fit_transform(X)
X_tf.shape

(10000, 7312)

In [59]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer()
X_tfidf= tfidf_transformer.fit_transform(X_tf)
X_tfidf.shape

(10000, 7312)

In [11]:
#conda install -c conda-forge hdbscan

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.8.5
  latest version: 4.10.3

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /Users/raji/opt/anaconda3

  added / updated specs:
    - hdbscan


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.10.3               |   py37hf985489_2         3.0 MB  conda-forge
    hdbscan-0.8.27             |   py37h183f225_0         521 KB  conda-forge
    python_abi-3.7             |          2_cp37m           4 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.6 MB

The following NEW packages will be INSTALLED:

  hdbscan            conda-forge/osx-64::hdbscan-0.8.27-py37h183f225_0
  python_abi         conda-forge/osx-64::python_abi-3.7-2_cp37m

The following packages will be UPDATED:

  conda                       pkgs/main::conda-4.8.5-py37_0 --> conda-forge::conda-4.10.3-py37hf985489_2



Downloading and Extracting Packages
conda-4.10.3         | 3.0 MB    | ##################################### | 100%
hdbscan-0.8.27       | 521 KB    | ##################################### | 100%
python_abi-3.7       | 4 KB      | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [60]:
import hdbscan

In [69]:
clusterer = hdbscan.HDBSCAN(min_cluster_size=30)

In [70]:
clusterer.fit(X_tfidf)

HDBSCAN(min_cluster_size=30)

In [71]:
clusterer.labels_

array([-1, -1, -1, ..., -1, -1, -1])

In [72]:
dfTickets_cluster = dfTickets_small

In [73]:
dfTickets_cluster['clusterno'] = clusterer.labels_.tolist()

/Users/raji/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [74]:
dfTickets_cluster.head

<bound method NDFrame.head of                                       title  \
0                                       NaN
1                      connection with icon
2                      work experience user
3                    requesting for meeting
4     reset passwords for external accounts
...                                     ...
9995                            access card
9996                        card new joiner
9997                             and access
9998                             new switch
9999                merchant portal site on

                                                   body  ticket_type  \
0     hi since recruiter lead permission approve req...            1
1     icon dear please setup icon per icon engineers...            1
2     work experience user hi work experience studen...            1
3     requesting meeting hi please help follow equip...            1
4     re expire days hi ask help update passwords co...            1
...                                                 ...          ...
9995  card hello moved understanding she left her ca...            1
9996           card joiner functional fie functional si            1
9997                                        please user            1
9998  switch problem switch la ca si merge port mea ...            1
9999  merchant site dear please create merchant part...            1

      category  sub_category1  sub_category2  business_service  urgency  \
0            4              2             21                71        3
1            6             22              7                26        3
2            5             13              7                32        3
3            5             13              7                32        3
4            4              2             76                 4        3
...        ...            ...            ...               ...      ...
9995         5             13              7                73        3
9996         7              1              7                73        3
9997         4              1              7                19        3
9998         6             22              7                52        3
9999         4              2              7                46        3

      impact  clusterno
0          4         -1
1          4         -1
2          4         -1
3          4         -1
4          4         -1
...      ...        ...
9995       4         -1
9996       4         -1
9997       4         -1
9998       4         -1
9999       4         -1

[10000 rows x 10 columns]>

In [75]:
dfTickets_cluster.loc[dfTickets_cluster['clusterno']==3]

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact,clusterno
46,wants to access requesting it hardware equipment,wants requesting hardware equipment monitor ac...,1,4,1,7,46,3,4,3
240,wants to access glossary,wants glossary hi please give update thank acc...,1,4,1,7,46,3,4,3
254,day wants to access resources,wants resources presentation accept decline re...,1,4,1,7,46,3,4,3
381,wants to access testing,wants testing please thank accept decline requ...,1,4,1,7,46,3,4,3
396,firth wants to access testing discipline,wants testing discipline hi please accept decl...,1,4,1,7,46,3,4,3
...,...,...,...,...,...,...,...,...,...,...
9669,eke wants to access executed th dec,wants executed accept decline requests,1,4,1,7,46,3,4,3
9700,wants to access sales,wants write accept decline requests,1,4,3,7,46,3,4,3
9714,wants to access account documentation,wants documentation please add files accept de...,1,4,1,7,46,3,4,3
9791,wants to access resources,wants resources head please accept decline req...,1,4,2,7,46,3,4,3
9886,wants to access information security,wants information want classification policy d...,1,4,1,7,46,3,4,3

In [76]:
dfTickets_cluster.to_excel("output_hdbscan_30.xlsx")

In [ ]:
#Lets try this with spherical kmeans clustering

In [78]:
!pip install coclust

Collecting coclust
  Downloading https://files.pythonhosted.org/packages/5d/44/ad5a69c7187c2b7bcf2c45596e9052811a3be52f4fcaa6709937c5146ee2/coclust-0.2.1.tar.gz
Requirement already satisfied: numpy in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from coclust) (1.17.2)
Requirement already satisfied: scipy in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from coclust) (1.6.3)
Requirement already satisfied: scikit-learn in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from coclust) (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from scikit-learn->coclust) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /Users/raji/opt/anaconda3/lib/python3.7/site-packages (from scikit-learn->coclust) (0.17.0)
Building wheels for collected packages: coclust
  Building wheel for coclust (setup.py) ... done
  Created wheel for coclust: filename=coclust-0.2.1-cp37-none-any.whl size=29873 sha256=483e3fe483e602e92c468173687e666b24e8dc90868ab51ae46bf11dea4eb28a
  Stored in directory: /Users/raji/Library/Caches/pip/wheels/cd/d7/68/df601d0b5f8b934cf890dc626c2271df381fb0c3e910b0a34e
Successfully built coclust
Installing collected packages: coclust
Successfully installed coclust-0.2.1

In [79]:
import coclust.clustering

In [82]:
kmeans_cluster = coclust.clustering.SphericalKmeans(n_clusters=30)

In [83]:
kmeans_cluster.fit(X_tfidf)

 == New init ==
iteration: 0
1352.3554632143064
iteration: 1
2294.2346006097114
iteration: 2
2612.0733887169235
iteration: 3
2732.3495214039267
iteration: 4
2770.5257825959657
iteration: 5
2790.3609011475164
iteration: 6
2798.47536327204
iteration: 7
2805.364915747658
iteration: 8
2808.874929937371
iteration: 9
2810.9490407210096
iteration: 10
2812.378568552787
iteration: 11
2813.586249790181
iteration: 12
2814.6873326509954
iteration: 13
2815.5649704361676
iteration: 14
2816.258019189092
iteration: 15
2817.2564962228457
iteration: 16
2818.343915254059
iteration: 17
2819.0797986217754
iteration: 18
2819.454019148161
iteration: 19
2819.707344876487

In [84]:
kmeans_cluster.labels_

[2,
 5,
 8,
 15,
 14,
 17,
 8,
 27,
 23,
 17,
 29,
 5,
 24,
 11,
 23,
 24,
 17,
 28,
 13,
 21,
 27,
 0,
 21,
 24,
 26,
 24,
 13,
 8,
 3,
 7,
 8,
 6,
 18,
 13,
 27,
 14,
 24,
 13,
 25,
 2,
 0,
 0,
 13,
 8,
 19,
 17,
 16,
 18,
 22,
 18,
 27,
 13,
 4,
 2,
 13,
 9,
 10,
 9,
 20,
 8,
 9,
 8,
 5,
 0,
 2,
 21,
 13,
 23,
 9,
 16,
 29,
 8,
 17,
 18,
 6,
 22,
 3,
 21,
 11,
 5,
 18,
 23,
 24,
 0,
 0,
 18,
 21,
 16,
 3,
 20,
 13,
 24,
 5,
 18,
 23,
 29,
 6,
 9,
 3,
 20,
 9,
 13,
 26,
 13,
 21,
 29,
 13,
 13,
 8,
 9,
 9,
 18,
 7,
 17,
 18,
 26,
 10,
 6,
 7,
 21,
 22,
 4,
 17,
 3,
 19,
 4,
 27,
 26,
 23,
 6,
 29,
 22,
 23,
 13,
 18,
 21,
 27,
 10,
 26,
 23,
 21,
 8,
 22,
 27,
 21,
 14,
 3,
 21,
 26,
 19,
 12,
 15,
 24,
 15,
 5,
 26,
 23,
 5,
 9,
 21,
 24,
 20,
 21,
 11,
 11,
 1,
 9,
 26,
 24,
 21,
 2,
 23,
 26,
 1,
 10,
 5,
 8,
 3,
 5,
 21,
 20,
 0,
 11,
 9,
 0,
 5,
 6,
 2,
 7,
 2,
 9,
 22,
 13,
 18,
 4,
 17,
 2,
 8,
 13,
 13,
 8,
 12,
 18,
 8,
 24,
 18,
 12,
 8,
 8,
 14,
 4,
 18,
 26,
 10,
 8,
 22,
 2,
 21,
 13,
 13,
 9,
 13,
 9,
 22,
 5,
 17,
 15,
 22,
 18,
 5,
 8,
 27,
 25,
 11,
 18,
 2,
 6,
 0,
 8,
 29,
 16,
 12,
 23,
 16,
 27,
 27,
 9,
 26,
 5,
 5,
 29,
 20,
 23,
 22,
 16,
 29,
 8,
 26,
 18,
 22,
 5,
 18,
 0,
 21,
 9,
 29,
 14,
 21,
 3,
 29,
 28,
 16,
 20,
 19,
 6,
 10,
 14,
 8,
 23,
 10,
 9,
 9,
 15,
 17,
 7,
 2,
 22,
 23,
 27,
 28,
 19,
 20,
 14,
 24,
 8,
 20,
 5,
 0,
 8,
 19,
 18,
 9,
 8,
 21,
 17,
 8,
 8,
 13,
 18,
 9,
 7,
 22,
 25,
 28,
 21,
 9,
 10,
 23,
 8,
 21,
 26,
 25,
 9,
 13,
 12,
 5,
 18,
 13,
 27,
 0,
 22,
 2,
 24,
 21,
 24,
 29,
 7,
 13,
 23,
 9,
 12,
 24,
 11,
 18,
 26,
 2,
 9,
 18,
 21,
 7,
 29,
 22,
 10,
 12,
 17,
 9,
 23,
 20,
 22,
 10,
 23,
 7,
 8,
 13,
 18,
 0,
 10,
 28,
 25,
 28,
 8,
 21,
 7,
 24,
 21,
 7,
 11,
 28,
 23,
 28,
 5,
 16,
 22,
 21,
 22,
 16,
 14,
 22,
 5,
 7,
 10,
 13,
 13,
 7,
 13,
 13,
 16,
 0,
 10,
 23,
 13,
 9,
 4,
 21,
 24,
 5,
 20,
 19,
 8,
 26,
 22,
 24,
 17,
 6,
 5,
 9,
 16,
 13,
 18,
 26,
 22,
 21,
 4,
 10,
 0,
 14,
 8,
 3,
 21,
 8,
 29,
 3,
 23,
 2,
 4,
 17,
 9,
 16,
 26,
 8,
 19,
 3,
 14,
 8,
 22,
 24,
 27,
 10,
 24,
 26,
 26,
 28,
 27,
 0,
 2,
 0,
 0,
 17,
 19,
 13,
 21,
 0,
 26,
 7,
 22,
 26,
 24,
 21,
 18,
 6,
 23,
 13,
 25,
 23,
 25,
 25,
 23,
 26,
 27,
 0,
 24,
 24,
 7,
 23,
 21,
 29,
 1,
 16,
 1,
 21,
 24,
 4,
 24,
 13,
 13,
 4,
 10,
 9,
 29,
 29,
 4,
 6,
 8,
 25,
 18,
 18,
 8,
 2,
 0,
 13,
 9,
 2,
 27,
 27,
 24,
 8,
 8,
 7,
 2,
 9,
 25,
 24,
 14,
 22,
 18,
 10,
 27,
 20,
 18,
 17,
 17,
 17,
 17,
 20,
 18,
 17,
 17,
 14,
 3,
 22,
 25,
 4,
 2,
 18,
 25,
 23,
 16,
 27,
 3,
 21,
 7,
 29,
 23,
 3,
 24,
 6,
 16,
 2,
 2,
 9,
 3,
 24,
 13,
 13,
 14,
 18,
 16,
 9,
 26,
 18,
 2,
 8,
 14,
 23,
 5,
 21,
 5,
 1,
 24,
 8,
 6,
 2,
 21,
 29,
 26,
 22,
 21,
 9,
 18,
 25,
 25,
 8,
 24,
 4,
 18,
 21,
 17,
 5,
 29,
 2,
 10,
 11,
 2,
 9,
 26,
 18,
 10,
 8,
 12,
 17,
 8,
 10,
 6,
 21,
 18,
 21,
 13,
 18,
 18,
 27,
 18,
 18,
 8,
 9,
 29,
 29,
 13,
 18,
 20,
 23,
 25,
 29,
 29,
 14,
 0,
 17,
 23,
 21,
 6,
 26,
 17,
 6,
 19,
 8,
 7,
 13,
 5,
 13,
 13,
 1,
 13,
 6,
 6,
 17,
 2,
 13,
 13,
 26,
 13,
 21,
 24,
 22,
 2,
 7,
 12,
 24,
 10,
 22,
 13,
 12,
 13,
 28,
 8,
 11,
 18,
 19,
 3,
 22,
 9,
 10,
 16,
 23,
 3,
 24,
 25,
 5,
 10,
 5,
 3,
 12,
 17,
 2,
 19,
 27,
 8,
 6,
 24,
 26,
 9,
 22,
 25,
 28,
 29,
 27,
 6,
 17,
 18,
 8,
 17,
 27,
 23,
 17,
 27,
 19,
 0,
 25,
 15,
 21,
 25,
 7,
 12,
 19,
 25,
 23,
 18,
 16,
 18,
 20,
 24,
 25,
 13,
 8,
 28,
 14,
 20,
 19,
 24,
 26,
 3,
 26,
 25,
 10,
 20,
 21,
 25,
 21,
 25,
 1,
 5,
 26,
 26,
 25,
 9,
 26,
 19,
 18,
 13,
 10,
 28,
 5,
 8,
 13,
 1,
 27,
 29,
 9,
 14,
 15,
 9,
 9,
 0,
 27,
 18,
 17,
 5,
 18,
 22,
 21,
 22,
 21,
 8,
 1,
 9,
 24,
 11,
 25,
 22,
 27,
 10,
 10,
 1,
 0,
 5,
 6,
 4,
 22,
 2,
 22,
 19,
 25,
 10,
 25,
 24,
 13,
 23,
 6,
 13,
 3,
 15,
 15,
 15,
 12,
 8,
 23,
 23,
 11,
 29,
 28,
 7,
 17,
 21,
 6,
 26,
 12,
 13,
 7,
 22,
 17,
 2,
 13,
 13,
 6,
 13,
 20,
 25,
 24,
 18,
 9,
 27,
 26,
 18,
 18,
 25,
 8,
 8,
 21,
 5,
 13,
 13,
 18,
 23,
 12,
 12,
 23,
 3,
 27,
 9,
 6,
 29,
 7,
 18,
 6,
 26,
 9,
 23,
 21,
 18,
 5,
 0,
 25,
 10,
 7,
 24,
 17,
 21,
 22,
 7,
 1,
 26,
 22,
 18,
 17,
 22,
 10,
 9,
 11,
 22,
 12,
 3,
 17,
 22,
 24,
 3,
 28,
 14,
 11,
 21,
 0,
 24,
 1,
 17,
 10,
 25,
 23,
 23,
 25,
 24,
 0,
 25,
 25,
 10,
 26,
 5,
 2,
 18,
 14,
 24,
 14,
 7,
 13,
 10,
 2,
 27,
 5,
 5,
 25,
 3,
 23,
 4,
 27,
 4,
 18,
 5,
 7,
 10,
 5,
 23,
 7,
 8,
 10,
 17,
 18,
 18,
 7,
 16,
 6,
 9,
 9,
 1,
 24,
 13,
 15,
 6,
 2,
 13,
 13,
 13,
 24,
 13,
 24,
 13,
 28,
 17,
 11,
 13,
 17,
 18,
 7,
 9,
 6,
 15,
 9,
 13,
 16,
 21,
 7,
 18,
 9,
 8,
 8,
 10,
 3,
 16,
 21,
 13,
 21,
 10,
 21,
 21,
 29,
 25,
 21,
 26,
 4,
 5,
 18,
 5,
 3,
 2,
 21,
 ...]

In [87]:
dfTickets_cluster_kmeans = dfTickets_small

In [88]:
dfTickets_cluster_kmeans['clusterno'] = kmeans_cluster.labels_

/Users/raji/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [89]:
dfTickets_cluster_kmeans.head

<bound method NDFrame.head of                                       title  \
0                                       NaN
1                      connection with icon
2                      work experience user
3                    requesting for meeting
4     reset passwords for external accounts
...                                     ...
9995                            access card
9996                        card new joiner
9997                             and access
9998                             new switch
9999                merchant portal site on

                                                   body  ticket_type  \
0     hi since recruiter lead permission approve req...            1
1     icon dear please setup icon per icon engineers...            1
2     work experience user hi work experience studen...            1
3     requesting meeting hi please help follow equip...            1
4     re expire days hi ask help update passwords co...            1
...                                                 ...          ...
9995  card hello moved understanding she left her ca...            1
9996           card joiner functional fie functional si            1
9997                                        please user            1
9998  switch problem switch la ca si merge port mea ...            1
9999  merchant site dear please create merchant part...            1

      category  sub_category1  sub_category2  business_service  urgency  \
0            4              2             21                71        3
1            6             22              7                26        3
2            5             13              7                32        3
3            5             13              7                32        3
4            4              2             76                 4        3
...        ...            ...            ...               ...      ...
9995         5             13              7                73        3
9996         7              1              7                73        3
9997         4              1              7                19        3
9998         6             22              7                52        3
9999         4              2              7                46        3

      impact  clusterno
0          4          2
1          4          5
2          4          8
3          4         15
4          4         14
...      ...        ...
9995       4          0
9996       4         27
9997       4          8
9998       4         27
9999       4          8

[10000 rows x 10 columns]>

In [90]:
dfTickets_cluster_kmeans.loc[dfTickets_cluster_kmeans['clusterno']==3]

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact,clusterno
28,annual leave,re annual leave hello please help absence reco...,1,4,2,7,67,3,4,3
76,all staff outlook,hello please make cancel moved offices startin...,1,4,3,7,36,3,4,3
88,time sheets,sheets hi please entries thank,1,4,2,21,67,3,4,3
98,access to upload and modify documents on,upload modify hi give write accumulations orde...,1,4,1,7,46,3,4,3
123,close all the projects,annual leave codes has assigned hi please clos...,1,4,2,87,67,3,4,3
...,...,...,...,...,...,...,...,...,...,...
9925,annual leave request for th of,annual leave hi please submit annual leave tha...,1,4,2,105,67,3,4,3
9931,booking time off for today,booking off today hi problem booked today off ...,1,4,2,105,67,3,4,3
9937,time sheet annual leave,hello left please enter sheet him period he an...,1,4,2,21,67,3,4,3
9942,urgent re si de mea,urgent re si mea hi thank changing per log acc...,1,4,2,21,4,3,4,3
9994,oracle delegate,delegate good wonder while holiday delegate ap...,1,4,3,105,66,3,4,3

In [91]:
dfTickets_cluster_kmeans.to_excel("output_sphericalkmeans_30.xlsx")

**Without Stemming**
F1 Score : 0.99
Accuracy Score : 0.99

**With Stemming**
F1 Score : 0.97
Accuracy Score : 0.96